.footer__column-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: normal;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}
