@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  outline: 1px solid red;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.rotation {
  animation: rotate 20s infinite linear;
}

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  height: 32px;
  width: 228px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background-image: url("../images/header-image.png");
  background-size: cover;
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.techiques {
  align-self: center;
  width: 80%;
  display: flex;
  align-items: center;

  flex-direction: column;
}
.cards {
  max-width: 920px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.cards__item {
  list-style: none;
  width: 240px;
  margin: 0 100px 0 0;
  text-align: center;
}

.cards__item:nth-child(3) {
  margin: 0 0 0 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
}
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.cards__description {
  margin: 16px 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
}

.video__iframe:nth-child(1) {
  margin: 0 20px 0 0;
}

.oakley {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
  background-color: #f2f2f2;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0 0;
}

.two-columns__brief {
  color: #2f80ed;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  padding: 0;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.two-columns__paragraph:nth-child(n + 2) {
  margin-top: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.digits {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.khan {
  padding: 105px 0 0 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}
.khan__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  max-width: 790px;
  margin: 50px 0 36px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.khan__quote-author-subline {
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
.khan__book-container {
  margin: 68px 0 0;
  display: flex;
}
.khan__book-pic {
  margin: 0 48px 0 0;
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.section-title {
  max-width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 90px 0 0 0;
}
.section-subtitle {
  max-width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 0 90px 0;
  padding: 0;
  list-style: none;
}
.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
  padding: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-image: url("../images/feynman.png");
  background-position: left bottom;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feynman__title {
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 100px 0 0 0;
  padding: 0;
}
.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  margin: 80px 0 217px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}
.resources__link {
  width: 270px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources__logo {
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
  padding: 0;
  z-index: 1;
}
.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  height: 877px;
  width: 877px;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px 0 40px 0;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_info {
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.footer__column-links {
  margin: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
}
.footer__column-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: normal;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}
.footer__column_content_social {
}
.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
